body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	background-image: url('../images/fondo.jpg');
}

header{
	height: 210px;
	background: url('../images/header.png') repeat-x;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
header.fix{
	position: fixed;
	z-index: 0;
	top: -160px;
}
header #logo{
	padding: 10px 20px;
	font-size: 200%;
	float: left;

}

footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	/*border-top: 1px solid #C9E0ED;*/
}

#user{
	height: 188px;
	background: url(../images/user.png) no-repeat;	
	width: 658px;
	padding: 30px 55px 0 55px;
	position: absolute;
	top: 164px;
}
#user.fix{
	position: fixed;
	z-index: 20000;
	top: 4px;
}
#user #fb_login_button{
	/*width: 635px;*/
	margin: 0 auto;
	/*height: 130px;*/
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	font-size: 4em;
	background-color: #3B5998;
	color: white;
	padding: 30px;
	cursor: pointer;
}
#user #fb_login_button:hover{
	background-color: #4B67A1;
}
#user .picture{
	width: 100px;
	height: 100px;
	background: url(../images/frame.png) no-repeat;
	padding: 15px;
	padding: 15px 19px 29px 23px;
	float: left;
	margin-right: 10px;
}
#user .picture img{
	background-position: center center;
	background-color: black;
}
#user .name{
	color:#383025;
	font-size: 2.5em;
	font-weight: bold;
}

#site{
	background: url(../images/site.png) repeat-y center;
}

#page
{
	

}
#page.fix{
	margin-top: 25px;
}

#content
{
    padding: 55px;
    padding-top: 370px;
}
#content.fix{
	padding-top: 345px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
	margin-top: 40px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}